<template name="explore">
	<div class="search-input">
		<input type="text" id="search-box" placeholder="search models here" />
		<input type="text" id="search-user-box" placeholder="search users here" />
	</div>

	<nav id="cbp-spmenu-s3" style="display:none;">
		{{> searchResult}}
	</nav>

	<nav id="cbp-spmenu-s4" style="display:none;">
		{{> searchUserResult}}
	</nav>

	<script>
		$(document).ready(function() {
		    $('#search-box').focusin(function() {
	        	$('#cbp-spmenu-s3').show();
            $('#cbp-spmenu-s3').focus();
    		});

    		$('#search-user-box').focusin(function() {
	        	$('#cbp-spmenu-s4').show();
            $('#cbp-spmenu-s4').focus();
    		});

        /*$('body').click(function(e) {
          if (!$(e.target).closest('#cbp-spmenu-s3').length){
              $("#cbp-spmenu-s3").hide();
          }
        });
*/
        $('body').click(function(e) {
          if ($(e.target).closest('#cbp-spmenu-s3').focus()){
              $("#cbp-spmenu-s3").blur();
          }
        });

		});
	</script>
</template>


<template name="searchResult">
  <div id='search-result' style="background-color:white;border-radius:2%;padding:5px;z-index:1800;position:absolute">
    <div id="search-meta">
      {{#if isLoading}}
        searching ...
      {{/if}}
    </div>

    {{#each getModels}}
    <a href="models/{{_id}}">
    <div class="searchModels" id="view-model-options" style="padding:2px">
      <h4 class="name">
        {{name}}
      </h4>
      <h5 style="color:black;">{{about}}</h5>
    </div>
	</a>
    {{/each}}
  </div>
</template>

<template name="searchUserResult">
  <div id='search-result' style="background-color:white;border-radius:2%;padding:5px;z-index:1800;position:absolute">
    <div id="search-meta">
      {{#if isLoading}}
        searching ...
      {{/if}}
    </div>

    {{#each getUsers}}
    <a href="profile/{{_id}}">
    <div class="searchUsers" id="view-model-options" style="padding:2px">
      <h4 class="name">
        {{profile.name}}
      </h4>
      <h5 style="color:black;">{{profile.bio}}</h5>
    </div>
	</a>
    {{/each}}
  </div>
</template>