<template name="feedBack">
    <form action="//formspree.io/deeky.sharma@gmail.com" method="POST" class="feedForm" id="feedForm" onsubmit="notify()">
        <div class="form-group">
            <!-- <label for="email">Email address</label> -->
            <input type="email" class="form-control text-center" id="email" name="email" placeholder="Email Address" title="Enter email address" required="required">
        </div><br>
        <div class="form-group">
            <!-- <label for="email">Category</label> -->
            <select name="category" class="form-control text-center" id="category" form="feedForm" title="Select reason" required="required" data-errormessage-value-missing="Please, pick one">
                <option selected disabled value="">Please select reason</option>
                <option value="Improve this Page">Improve this Page</option>
                <option value="Suggest new features/ideas">Suggest new features/ideas</option>
                <option value="Pinpoint bug">Pinpoint bug</option>
                <option value="User Experience">User Experience</option>
                <option value="I love OGV">I love OGV</option>
                <option value="Others - General Feedback">Others - General Feedback</option>
            </select>
        </div><br>
        <div class="form-group">
            <!-- <label for="email">Message</label>                             -->
            <textarea class="form-control" id="message" name="message" form="feedForm" placeholder="Message" title="Write message" required="required" onkeyup="textCounter(this,'counter',500);"></textarea>
			<p id="counter" style="color:red;font-size:10px">*500 characters left</p>
        </div>    
        
        <p>*All fields are compulsory to fill</p>
        <button class="btn primary-btn btn-default form-control" type="submit">Send</button>
        <input type="hidden" name="_next" value="//localhost:3000/feedbackThanks" />
        <input type="hidden" name="_subject" value="[OGV] Feedback Submission" />
    </form>
	<h5>Or visit our <a href="https://github.com/BRL-CAD/OGV-meteor" target="_blank">github</a> page for more details.</h5>

	<script>
	function textCounter(field,field2,maxlimit)
	{
 		var countfield = document.getElementById(field2);
 		if ( field.value.length > maxlimit ) {
  			field.value = field.value.substring( 0, maxlimit );
  			return false;
 		} else {
  			countfield.innerHTML = "*"+(maxlimit - field.value.length)+" characters left";
 		}
	}
	</script>
</template>




